<a class="dropdown-toggle count-info" id="sk-cart" data-toggle="dropdown" style="padding: 15px 0;" href="#" aria-expanded="false">
    <i class="fa fa-shopping-cart fa-2x" style="margin-right: 6px; color: #f68b2d;"></i>  
    	<span class="label label-primary"><%= orders.menus.count %></span>
</a>
<ul class="dropdown-menu dropdown-alerts pull-right" id="sk-main" style="width: 300px;">
	<div class="sk-details">
		<div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
		<% if orders.menus.exists? %>
		<li>
	        <div>
	            <span><h3 style="color: #099E44;"><%= link_to truncate(orders.restaurant.name.html_safe , length: 44), restaurant_path(orders.restaurant) %></h3></span>
	        </div>
	    </li>
		<li class="divider"></li>
			<% orders.order_items.each do |order| %>
			    <li>
		            <div class="alert-dismissable">
		            	<%= link_to order, { method: :delete, remote: true } do %>
					    	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					    <% end %>
		                <span class="text-muted"><%= truncate(order.menu.name.html_safe, length: 25) %></span>
		                <span class="pull-right text-muted small"><%= order.quantity %> x <%= number_with_precision(order.unit_price, :precision => 0, :delimiter => ',') %></span>

		            </div>
			    </li>
		    	<li class="divider"></li>
		    <% end %>
		    <li style="margin-bottom: 5px;">
	            <div>
	                Service Charge: 
	                <span class="pull-right">₱ <%= number_with_precision(orders.delivery_charge.to_i, :precision => 0, :delimiter => ',') %></span>
	            </div>
		    </li>

		    <li>
	            <div>
	                <strong>Total:</strong> 
	                <span><strong class="pull-right">₱ <%= number_with_precision(orders.total.to_i, :precision => 0, :delimiter => ',') %></strong></span>
	            </div>
		    </li>
		    <li class="divider"></li>
		    <li>
	            <div class="text-center link-block">
		            <% if orders.total >= (orders.min_order || 330) %>
		                <%= link_to checkout_path, class: "btn btn-block btn-primary", style: "color: #FFFFFF;" do %>
		    				<i class="fa fa-shopping-cart"></i> Checkout
		                <% end %>
		            <% else %>
		                <button type="button" class="btn btn-block btn-default text-muted">
		                    Min. Order ₱<%= orders.min_order %>
		                </button>
		            <% end %>
		        </div>
	        </li>
	    <% else %>
	    	<li>
	            <div>
	                You dont have any orders yet.
	            </div>
		    </li>
	    <% end %>
	</div>
</ul>
<script type="text/javascript">
    $(function(){
        $('.close').on('click', function(){
            $('#sk-main').children('.sk-details').addClass('sk-loading');
        })
    })
</script>