<div class="clearfix"></div>
<section class="fullscreen-cover parallax intro-bg-1" id="home" data-stellar-background-ratio="0.5" style="overflow: visible; background-position: 0px 0px;">
    <div style="background-color: rgba(0,0,0,0.4); height: 100%; width: 100%;">
        <div class="container v-align-transform text-center">
            <h1 class="text-uppercase margin-b-10">habhub na!</h1>
            <p class="lead">We deliver your favourite food in Davao City online.</p>
            <br>
            <div class='row'>
                <%= render 'user_location' %>
            </div>

        </div><!--end-container-->
    </div>
 
</section>

    <section class="features">
        <div class="container">
            <div class="space-70"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabCommon">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#menu1" aria-expanded="true">New Restos</a></li>
                            <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false">Top Rated</a></li>
                            <li class=""><a data-toggle="tab" href="#menu3" aria-expanded="false">On Sale</a></li>
                        </ul>
                        <div class="tab-bottom"></div>
                        <div class="tab-content">
                            <div id="menu1" class="tab-pane fade active in">
                                <h3 class="m-b-xs">Restaurants</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <% @resto_recent.each do |resto| %>
                                            <div class="file-box">
                                                <div class="file">
                                                    <%= link_to restaurant_path(resto) do %>
                                                        <span class="corner"></span>
                                                        <div class="image">
                                                            <%= image_tag resto.profile_image.url(:web) || asset_path('default_menu.png'), class: "img-responsive" %>
                                                        </div>
                                                        <div class="file-name">
                                                            <h5 style="margin-bottom: 5px;"><%= link_to truncate(resto.name.html_safe, length: 25), restaurant_path(resto) %></h5>
                                                            <small><%= resto.address %></small>
                                                        </div>
                                                    <% end %>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                                <h3 class="font-bold m-b-xs">Bakeries</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <% @bake_recent.each do |resto| %>
                                            <div class="file-box">
                                                <div class="file">
                                                    <%= link_to restaurant_path(resto) do %>
                                                        <span class="corner"></span>
                                                        <div class="image">
                                                            <%= image_tag resto.profile_image.url(:web) || asset_path('default_menu.png'), class: "img-responsive" %>
                                                        </div>
                                                        <div class="file-name">
                                                            <h5 style="margin-bottom: 5px;"><%= link_to truncate(resto.name.html_safe, length: 25), restaurant_path(resto) %></h5>
                                                            <small><%= resto.address %></small>
                                                        </div>
                                                    <% end %>

                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                                <h3 class="font-bold m-b-xs">Caterings</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <% @cater_recent.each do |resto| %>
                                            <div class="file-box">
                                                <div class="file">
                                                    <%= link_to restaurant_path(resto) do %>
                                                        <span class="corner"></span>
                                                        <div class="image">
                                                            <%= image_tag resto.profile_image.url(:web) || asset_path('default_menu.png'), class: "img-responsive" %>
                                                        </div>
                                                        <div class="file-name">
                                                            <h5 style="margin-bottom: 5px;"><%= link_to truncate(resto.name.html_safe, length: 25), restaurant_path(resto) %></h5>
                                                            <small><%= resto.address %></small>
                                                        </div>
                                                    <% end %>

                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="imageBox">
                                            <a href="single-product.html">
                                                <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto8.jpg' %>');"></div>
                                            </a>
                                            <div class="productCaption clearfix">
                                                <h5><a href="single-product.html">Dencios Restaurant</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="imageBox">
                                            <a href="single-product.html">
                                                <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto5.jpg' %>');"></div>
                                            </a>
                                            <div class="productCaption clearfix">
                                                <h5><a href="single-product.html">Luz Kinilaw</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="imageBox">
                                            <a href="single-product.html">
                                                <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto6.jpg' %>');"></div>
                                            </a>
                                            <div class="productCaption clearfix">
                                                <h5><a href="single-product.html">Rhea's Resto</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="imageBox">
                                            <a href="single-product.html">
                                                <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto7.jpg' %>');"></div>
                                            </a>
                                            <div class="productCaption clearfix">
                                                <h5><a href="single-product.html">Silver Bucket</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div class="landing-page">
    <section class="timeline white-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>How it Works</h1>
                    <p>Now that you are here! The one stop site for food delivery covering within Davao City. </p>
                    <div class="ibox-content" id="ibox-content" style="color: inherit; border: none;">
                        <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-map-marker"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Your Location</h2>
                                    <p>This will be either subdivions, streets or any
                                        famous landmarks. We only deliver a maximum of 15km between your location and the restaurant. Your location
                                        will be used to calculate the minimum order and estimated delivery time.
                                    </p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon blue-bg">
                                    <i class="fa fa-cubes"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Choose a Restaurant</h2>
                                    <p>Choose a restaurant, bakery or catering. You can see their menus, see their photos, rate and locate them on
                                    the map.</p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg">
                                    <i class="fa fa-shopping-basket"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Your Order</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa </p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon yellow-bg">
                                    <i class="fa fa-credit-card"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Checkout and Payment</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad.</p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg">
                                    <i class="fa fa-motorcycle"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>We Deliver</h2>
                                    <p>Find some issue and go to doctor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-smile-o"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>habhub!</h2>
                                    <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="gmap" style="display: none;"></div>    

<script type="text/javascript">
    
        $(document).ready(function(){
            $('.file-box').each(function() {
                animationHover(this, 'pulse');
            });

            function animationHover(element, animation) {
            element = $(element);
            element.hover(
                function () {
                    element.addClass('animated ' + animation);
                },
                function () {
                    //wait for animation to finish before removing classes
                    window.setTimeout(function () {
                        element.removeClass('animated ' + animation);
                    }, 2000);
                });
            }

        });
    
</script>

