<div class="clearfix"></div>
<section class="fullscreen-cover parallax intro-bg-1" id="home" data-stellar-background-ratio="0.5" style="background-position: 0px 0px;">
    <div style="background-color: rgba(0,0,0,0.4); height: 100%; width: 100%;">
        <div class="container v-align-transform text-center">
            <h1 class="text-uppercase margin-b-10">Welcome to versa</h1>
            <p class="lead">Subtitle goes here</p>
            <a href="javascript:void(0)" class="btn btn-lg btn-border btn-hvr btn-rounded hvr-sweep-to-top">Know more</a>              
        </div><!--end-container-->
    </div>
 
</section>
<section class="container">
    <div class="space-70"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="tabCommon">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1" aria-expanded="true">New Araivals</a></li>
                    <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false">Top Rated</a></li>
                    <li class=""><a data-toggle="tab" href="#menu3" aria-expanded="false">On Sale</a></li>
                </ul>
                <div class="tab-bottom"></div>
                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade active in">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <a href="single-product.html">
                                        <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto1.jpg' %>');"></div>
                                    </a>
                                    <div class="productCaption clearfix">
                                        <h5><a href="single-product.html">Dencios Restaurant</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <a href="single-product.html">
                                        <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto2.jpg' %>');"></div>
                                    </a>
                                    <div class="productCaption clearfix">
                                        <h5><a href="single-product.html">Luz Kinilaw</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <a href="single-product.html">
                                        <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto3.jpg' %>');"></div>
                                    </a>
                                    <div class="productCaption clearfix">
                                        <h5><a href="single-product.html">Rhea's Resto</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <a href="single-product.html">
                                        <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto4.jpg' %>');"></div>
                                    </a>
                                    <div class="productCaption clearfix">
                                        <h5><a href="single-product.html">Silver Bucket</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <div class="productImage clearfix">
                                        <a href="single-product.html">
                                            <%= image_tag 'product-img8.jpg' %>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
            <div class="space-70"></div>
            <div class="container">
                 <div class="heading-style-center">
                              
                    <h2>who we are</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                       
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                        </p>
                        <blockquote>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            <br> <em>John Doe</em>
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                     
                        <div class="skill"><span class="skill-name">Design</span><span class="skill-perc" style="right: 10%;">90%</span>
                            <div class="progress">
                                <div role="progressbar" data-progress="90" class="progress-bar colored" style="width: 90%;"></div>
                            </div>
                        </div>
                        <div class="skill"><span class="skill-name">Branding</span><span class="skill-perc" style="right: 20%;">80%</span>
                            <div class="progress">
                                <div role="progressbar" data-progress="80" class="progress-bar colored" style="width: 80%;"></div>
                            </div>
                        </div>
                        <div class="skill"><span class="skill-name">Product Development</span><span class="skill-perc" style="right: 15%;">85%</span>
                            <div class="progress">
                                <div role="progressbar" data-progress="85" class="progress-bar colored" style="width: 85%;"></div>
                            </div>
                        </div>
                        <div class="skill"><span class="skill-name">Web Development</span><span class="skill-perc" style="right: 5%;">95%</span>
                            <div class="progress">
                                <div role="progressbar" data-progress="95" class="progress-bar colored" style="width: 95%;"></div>
                            </div>
                        </div>
                    </div>
                </div><!--intro row end-->

            </div><!--container end-->
            <div class="space-40"></div>
            <div class="container-fluid no-padd">

                <div class="row no-margin">
                    <div class="col-sm-3 no-padd text-center">
                        <div class="team-style-2">
                            <img src="images/team-1.jpg" alt="" class="img-responsive full-img">
                            <div class="team-overlay">
                                <p>
                                    <span>John Doe</span>
                                    <em>Developer</em>
                                </p>
                            </div><!--team overlay end-->
                        </div><!--team style  end-->
                    </div><!--col end-->
                    <div class="col-sm-3 no-padd text-center">
                        <div class="team-style-2">
                            <img src="images/team-2.jpg" alt="" class="img-responsive full-img">
                            <div class="team-overlay">
                                <p>
                                    <span>John Doe</span>
                                    <em>Developer</em>
                                </p>
                            </div><!--team overlay end-->
                        </div><!--team style  end-->
                    </div><!--col end-->
                    <div class="col-sm-3 no-padd text-center">
                        <div class="team-style-2">
                            <img src="images/team-3.jpg" alt="" class="img-responsive full-img">
                            <div class="team-overlay">
                                <p>
                                    <span>John Doe</span>
                                    <em>Developer</em>
                                </p>
                            </div><!--team overlay end-->
                        </div><!--team style  end-->
                    </div><!--col end-->
                    <div class="col-sm-3 no-padd text-center">
                        <div class="team-style-2">
                            <img src="images/team-4.jpg" alt="" class="img-responsive">
                            <div class="team-overlay">
                                <p>
                                    <span>John Doe</span>
                                    <em>Developer</em>
                                </p>
                            </div><!--team overlay end-->
                        </div><!--team style  end-->
                    </div><!--col end-->
                </div><!--row end-->
            </div>
</section>