<div class="clearfix"></div>
<section class="fullscreen-cover parallax intro-bg-1" id="home" data-stellar-background-ratio="0.5" style="overflow: visible; background-position: 0px 0px;">
    <div style="background-color: rgba(0,0,0,0.4); height: 100%; width: 100%;">
        <div class="container v-align-transform text-center">
            <h1 class="text-uppercase margin-b-10">habhub na!</h1>
            <p class="lead">We deliver your favourite food in Davao City online.</p>
            <br>
            <div class='row'>
                <%= render 'user_location' %>
            </div>

        </div><!--end-container-->
    </div>
 
</section>
<section class="container">
    <div class="space-70"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="tabCommon">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1" aria-expanded="true">New Araivals</a></li>
                    <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false">Top Rated</a></li>
                    <li class=""><a data-toggle="tab" href="#menu3" aria-expanded="false">On Sale</a></li>
                </ul>
                <div class="tab-bottom"></div>
                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade active in">
                        <h3 class="font-bold m-b-xs">Restaurants</h3>
                        <div class="row">
                            <% @resto_recent.each do |resto| %>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="imageBox">
                                        <%= link_to restaurant_path(resto) do %>
                                            <div class="productImage clearfix" style="background-image: url('<%= image_path resto.profile_image.url(:web) %>');"></div>
                                        <% end %>
                                        <div class="productCaption clearfix">
                                            <h5>
                                                <%= link_to resto.name, restaurant_path(resto) %>
                                            </h5>
                                            <p><small><%= resto.address %></small></p>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <h3 class="font-bold m-b-xs">Bakeries</h3>
                        <div class="row">
                            <% @bake_recent.each do |resto| %>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="imageBox">
                                        <a href="single-product.html">
                                            <div class="productImage clearfix" style="background-image: url('<%= image_path resto.profile_image.url(:web) %>');"></div>
                                        </a>
                                        <div class="productCaption clearfix">
                                            <h5><a href="single-product.html"><%= resto.name %></a></h5>
                                            <p><small><%= resto.address %></small></p>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <a href="single-product.html">
                                        <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto8.jpg' %>');"></div>
                                    </a>
                                    <div class="productCaption clearfix">
                                        <h5><a href="single-product.html">Dencios Restaurant</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <a href="single-product.html">
                                        <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto5.jpg' %>');"></div>
                                    </a>
                                    <div class="productCaption clearfix">
                                        <h5><a href="single-product.html">Luz Kinilaw</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <a href="single-product.html">
                                        <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto6.jpg' %>');"></div>
                                    </a>
                                    <div class="productCaption clearfix">
                                        <h5><a href="single-product.html">Rhea's Resto</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="imageBox">
                                    <a href="single-product.html">
                                        <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto7.jpg' %>');"></div>
                                    </a>
                                    <div class="productCaption clearfix">
                                        <h5><a href="single-product.html">Silver Bucket</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="gmap" style="display: none;"></div>    

