<div class="clearfix"></div>
<section class="fullscreen-cover parallax intro-bg-1" id="home" style="height: 500px;">
    <div style="background-color: rgba(0,0,0,0.4); height: 100%; width: 100%;">
        <div class="container v-align-transform text-center">
            <h1 class="margin-b-10" style="font-family: 'pacifico';">habhub na!</h1>
            <p class="lead" style="margin-top: 20px;">We deliver your favourite food in Davao City online.</p>
            <br>
            <div class='row'>
                <%= render 'user_location' %>
            </div>

        </div><!--end-container-->
    </div>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon" style="padding-top: 40px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#menu1" aria-expanded="true">New</a></li>
                        <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false">Top Rated</a></li>
                        <li class=""><a data-toggle="tab" href="#menu3" aria-expanded="false">Sale</a></li>
                    </ul>
                    <div class="tab-bottom"></div>
                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade active in">
                            <h3 class="m-b-xs">Restaurants</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <% @resto_recent.each do |resto| %>
                                        <div class="file-box">
                                            <div class="file">
                                                <%= link_to restaurant_path(resto) do %>
                                                    <span class="corner"></span>
                                                    <div class="image">
                                                        <%= image_tag resto.profile_image.url(:web) || asset_path('default_menu.png'), class: "img-responsive" %>
                                                    </div>
                                                    <div class="file-name">
                                                        <h5 style="margin-bottom: 5px;"><%= link_to truncate(resto.name.html_safe, length: 25), restaurant_path(resto) %></h5>
                                                        <small><%= resto.address %></small>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <h3 class="font-bold m-b-xs">Bakeries</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <% @bake_recent.each do |resto| %>
                                        <div class="file-box">
                                            <div class="file">
                                                <%= link_to restaurant_path(resto) do %>
                                                    <span class="corner"></span>
                                                    <div class="image">
                                                        <%= image_tag resto.profile_image.url(:web) || asset_path('default_menu.png'), class: "img-responsive" %>
                                                    </div>
                                                    <div class="file-name">
                                                        <h5 style="margin-bottom: 5px;"><%= link_to truncate(resto.name.html_safe, length: 25), restaurant_path(resto) %></h5>
                                                        <small><%= resto.address %></small>
                                                    </div>
                                                <% end %>

                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <h3 class="font-bold m-b-xs">Caterings</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <% @cater_recent.each do |resto| %>
                                        <div class="file-box">
                                            <div class="file">
                                                <%= link_to restaurant_path(resto) do %>
                                                    <span class="corner"></span>
                                                    <div class="image">
                                                        <%= image_tag resto.profile_image.url(:web) || asset_path('default_menu.png'), class: "img-responsive" %>
                                                    </div>
                                                    <div class="file-name">
                                                        <h5 style="margin-bottom: 5px;"><%= link_to truncate(resto.name.html_safe, length: 25), restaurant_path(resto) %></h5>
                                                        <small><%= resto.address %></small>
                                                    </div>
                                                <% end %>

                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="imageBox">
                                        <a href="single-product.html">
                                            <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto8.jpg' %>');"></div>
                                        </a>
                                        <div class="productCaption clearfix">
                                            <h5><a href="single-product.html">Dencios Restaurant</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="imageBox">
                                        <a href="single-product.html">
                                            <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto5.jpg' %>');"></div>
                                        </a>
                                        <div class="productCaption clearfix">
                                            <h5><a href="single-product.html">Luz Kinilaw</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="imageBox">
                                        <a href="single-product.html">
                                            <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto6.jpg' %>');"></div>
                                        </a>
                                        <div class="productCaption clearfix">
                                            <h5><a href="single-product.html">Rhea's Resto</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="imageBox">
                                        <a href="single-product.html">
                                            <div class="productImage clearfix" style="background-image: url('<%= image_path 'restos/resto7.jpg' %>');"></div>
                                        </a>
                                        <div class="productCaption clearfix">
                                            <h5><a href="single-product.html">Silver Bucket</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="gmap" style="display: none;"></div>    

<script type="text/javascript">
    
        $(document).ready(function(){
            $('.file-box').each(function() {
                animationHover(this, 'pulse');
            });

            function animationHover(element, animation) {
            element = $(element);
            element.hover(
                function () {
                    element.addClass('animated ' + animation);
                },
                function () {
                    //wait for animation to finish before removing classes
                    window.setTimeout(function () {
                        element.removeClass('animated ' + animation);
                    }, 2000);
                });
            }

        });
</script>

<script type="text/javascript">
    
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    positionClass: 'toast-bottom-left',
                    timeOut: 7000
                };
                toastr.warning('We are here to serve you better.', 'Welcome to takeout.ph');

            }, 1300);
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    positionClass: 'toast-bottom-left',
                    timeOut: 10000
                };
                // API calls
                toastr.info('Ordered <%= ((Time.now - @last_order.created_at) / 60).to_i > 80 ? '3 minutes' : time_ago_in_words(@last_order.created_at) %> ago', '<%= @last_order.user.fullname || @last_order.user.identities.first.name %>');
            }, 3300);
        });
    
</script>

