<% @restos.each do |restos| %>
	<section class="container">
	    <div class="space-70"></div>
	        <div class="row">
	        	<div class="col-xs-12" id="resto_banner">
	        		<div class="wrapper wrapper-content" style="padding-bottom: 0;">
		        		<div class="row m-b-lg m-t-lg">
		        			<div class="col-md-6">
			                    <div class="profile-info">
			                        <div class="">
			                            <div>
			                                <h1 class="no-margins">
			                                    <%= restos.RType %>
			                                </h1>
			                                <h4>Choose the best food</h4>
			                                <small>
			                                    There are many variations of passages of Lorem Ipsum available, but the majority
			                                    have suffered alteration in some form Ipsum available.
			                                </small>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-3">
			                    <table class="table small m-b-xs">
			                        <tbody>
			                        <tr>
			                            <td>
			                                <strong>142</strong> Restaurants
			                            </td>
			                            <td>
			                                <strong>25,342</strong> Menus
			                            </td>

			                        </tr>
			                        <tr>
			                            <td>
			                                <strong>61</strong> Likes
			                            </td>
			                            <td>
			                                <strong>54</strong> Reviews
			                            </td>
			                        </tr>
			                        <tr>
			                            <td>
			                                <strong>154</strong> Today's Deliveries
			                            </td>
			                            <td>
			                                <strong>32</strong> Friends
			                            </td>
			                        </tr>
			                        </tbody>
			                    </table>
			                </div>
		        		</div>
	        		</div>
	        	</div> 
	        </div>
	</section>
	<section class="container">
	    <div class="space-70"></div>
	    <div class="row">
	        <div class="col-xs-12">
	        	<div class="row">
	                <div class="col-lg-12">
	                    <% restos.restaurants.where("active = ?", true).each do |resto| %>
	                        <div class="file-box">
	                            <div class="file">
	                                <%= link_to restaurant_path(resto) do %>
	                                    <span class="corner"></span>
	                                    <div class="image">
	                                        <%= image_tag resto.profile_image.url(:web) || 'default_menu.png', class: "img-responsive" %>
	                                    </div>
	                                    <div class="file-name">
	                                        <h5 style="margin-bottom: 5px;">
	                                        	<%= link_to truncate(resto.name.html_safe, length: 28), restaurant_path(resto) %>
	                                        </h5>
	                                        <small><%= resto.address %></small>
	                                    </div>
	                                <% end %>
	                            </div>
	                        </div>
	                    <% end %>
	                </div>
	            </div>
			</div>
	    </div>
	</section> 
<% end %>
<script type="text/javascript">
    
        $(document).ready(function(){
            $('.file-box').each(function() {
                animationHover(this, 'pulse');
            });

            function animationHover(element, animation) {
            element = $(element);
            element.hover(
                function () {
                    element.addClass('animated ' + animation);
                },
                function () {
                    //wait for animation to finish before removing classes
                    window.setTimeout(function () {
                        element.removeClass('animated ' + animation);
                    }, 2000);
                });
            }

        });
    
</script>