<% @restos.each do |restos| %>
	<section class="container">
	    <div class="space-70"></div>
	        <div class="row">
	        	<div class="col-xs-12" id="resto_banner">
	        		<div class="wrapper wrapper-content" style="padding-bottom: 0;">
		        		<div class="row m-b-lg m-t-lg">
		        			<div class="col-md-6">
			                    <div class="profile-info" style="margin-left: 0;">
			                        <div class="">
			                            <div>
			                                <h1 class="no-margins">
			                                    <%= restos.RType %>
			                                </h1>
			                                <h4>Choose your favourite restaurant and their food.</h4>
			                                <small>
			                                    Blessed with an abundance of seafood, tropical fruits and creative cooks, there's more to Davao City 
			                                    food than the mind-boggling balut.
			                                </small>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-3">
			                    <table class="table small m-b-xs">
			                        <tbody>
			                        <tr>
			                            <td>
			                                <strong><%= restos.restaurants.count %></strong> Restaurants
			                            </td>
			                            <td>
			                                <strong>1k +</strong> Menus
			                            </td>

			                        </tr>
			                        <tr>
			                            <td>
			                                <strong>154</strong> Today's Deliveries
			                            </td>
			                            <td>
			                                <strong>4k +</strong> Today's Visits
			                            </td>
			                        </tr>
			                        </tbody>
			                    </table>
			                </div>
		        		</div>
	        		</div>
	        	</div> 
	        </div>
	</section>
	<section class="container">
	    <div class="row">
	    	<div class="col-lg-12">
	    		<div class="col-lg-6 pull-right">
	    			<div class="search-form" style="margin-bottom: 20px;">
	    				
	    					<%= form_tag(restaurant_type_path(restos), :method => "get", id: "search-form", remote: true) do %>
	    						<div class="input-group">
								    <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants or Menus", class: "form-control" %>
								    <span class="input-group-btn">
								    	<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
								    </span>
								</div>
							<% end %>
                        
	                </div>
	    		</div>
	    	</div>
	        <div class="col-xs-12">
	        	<div class="row">
	                <div class="col-lg-12">
	                	<%= render 'each_restaurants', restos: restos.restaurants %>
	                </div>
	            </div>
			</div>
	    </div>
	</section> 
<% end %>
<script type="text/javascript">
    
        $(document).ready(function(){
            $('.file-box').each(function() {
                animationHover(this, 'pulse');
            });

            function animationHover(element, animation) {
            element = $(element);
            element.hover(
                function () {
                    element.addClass('animated ' + animation);
                },
                function () {
                    //wait for animation to finish before removing classes
                    window.setTimeout(function () {
                        element.removeClass('animated ' + animation);
                    }, 2000);
                });
            }

        });
    
</script>