<section class="container">
    <div class="space-70"></div>
    <div class="row">
    	<div class="col-xs-12" id="resto_banner">
    		<div class="wrapper wrapper-content" style="padding-bottom: 0;">
				<div class="row m-b-lg m-t-lg">
        			<div class="col-md-6">
	                    <div class="profile-info" style="margin-left: 0;">
	                        <div class="">
	                            <div>
	                                <h1 class="no-margins">
	                                    My Orders
	                                </h1>
	                                <h4>Rate your previous or current orders and you can reorder same menu.</h4>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="wrapper wrapper-content animated fadeInRight" style="padding: 0 0 40px 0;">
	            	<div class="row">
	            		<div class="col-md-12">
	            			<div class="ibox">
	            				<div class="ibox-title">
		                            <span class="pull-right">(<strong><%= @orders.size %></strong>) Orders</span>

		                        </div>

		                        <% @orders.each do |order| %>
			                        <div class="ibox-content" style="padding-bottom: 0;">
			                            <div class="table-responsive">
			                                <table class="table shoping-cart-table">

			                                    <tbody>
			                                    <tr>
			                                        <td width="90">
			                                            <%= image_tag order.restaurant.profile_image.url(:web) || asset_path('default_menu.png'), style: "width: 100px; height: 100px;", class: "img-circle circle-border m-b-md" %>
			                                        </td>
			                                        <td class="desc">
			                                            <h3>
			                                            <a href="#" class="text-navy">
			                                                <%= order.restaurant.name %>
			                                            </a>
			                                            </h3>
			                                            <p class="<%= order.order_status == 3 ? 'text-success' : 'text-warning' %>">
			                                                <%= order.order_status.OStatus %>
			                                            </p>
			                                            <dl class="small m-b-none">
			                                                <dt>Order ID: </dt>
			                                                <dd><%= time_ago_in_words(order.created_at) %> ago</dd>
			                                            </dl>

			                                           
			                                        </td>
			                                        <td width="350" style="text-align: left;">
			                                        	 <div class="m-t-sm">
			                         
			                                                <a class="btn btn-white btn-sm btn-default">
									                            <i class="fa fa-star"></i> Rate Order
									                        </a>
			                                                
			                                                <a class="btn btn-white btn-sm btn-default">
									                            <i class="fa fa-refresh"></i> Reorder
									                        </a>
			                                       
			                                            </div>
			                                        </td>
			                                        <td>
			                                            <h4>
			                                                ₱ <%= number_with_precision(order.total, :precision => 2, :delimiter => ',') %>
			                                            </h4>
			                                            <div class="m-t text-righ">
						                                    <a href="#" class="btn btn-xs btn-outline btn-default">Summary <i class="fa fa-long-arrow-right"></i> </a>
						                                </div>
			                                        </td>
			                                    </tr>
			                                    </tbody>
			                                </table>
			                            </div>
			                        </div>
			                    <% end %>

	            			</div>
	            		</div>
	            	</div>
	            </div>

    		</div>
    	</div>
    </div>
</section>
