<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
      <h3>Change your Password</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'm-t', method: :put} )do |f| %>
          <% flash.each do |name, msg| %>
              <% if msg.class == Array %>
                  <% msg.each do |message| %>
                      <div class="alert alert-danger alert-dismissable">
                          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                          <%= content_tag :div, message, :id => "flash_#{name}" %>
                      </div>
                  <% end %>
              <% else %>
                  <div class="alert alert-danger alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <%= content_tag :div, msg, :id => "flash_#{name}" %>
                  </div>
              <% end %>
          <% end %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: "true", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation', required: "true", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.submit "Change My Password", class: 'btn btn-primary block full-width m-b' %>
          </div>
          
      <% end %>
      <%= link_to 'Login', new_user_session_path, class: "btn btn-sm btn-white btn-block", style: "margin-top: 15px;" %>
      <%= link_to 'Home', root_path, class: "btn btn-sm btn-white btn-block", style: "margin-top: 5px;" %>
      <p class="m-t"> <small><strong>GG Tech</strong> Copyright © <%= Time.now.strftime("%Y") %></small> </p>
  </div>
</div>

