<div id="delivery_address">        			
	<div class="col-lg-6">
		<%= link_to 'Update my Address', edit_address_path, class: "btn btn-default btn-xs pull-right", remote: true %>
		<h4>Delivery Address</h4>
        <p style="margin-bottom: 5px;"><strong>Address: </strong> <%= @user_address.full_address %></p>
        <p style="margin-bottom: 5px;"><strong>Barangay/Subdivision: </strong> <%= @user_address.barangay_subdv %></p>
        <p style="margin-bottom: 5px; margin-top: 0;"><strong>Additional Directions: </strong> <%= @user_address.additional_directions %></p>
        <p style="margin-bottom: 5px; margin-top: 0;"><strong>Mobile: </strong> <%= @user.area_code + @user.mobile_no %></p>
        <p style="margin-bottom: 5px; margin-top: 0;"><strong>Landline: </strong> <%= @user_address.landline_number %></p>
	</div>
</div>