<section class="container">
	<div class="space-70"></div>
    <div class="row">
        <div class="col-xs-12" id="resto_banner" style="padding: 0; overflow: visible;">
        	<div class="wrapper wrapper-content animated fadeInUp" style="padding-bottom: 0;">
        		<div class="row">
                <div class="col-lg-12">
                    <div class="ibox product-detail">
                    	<%= form_for @order do |f| %>
	                        <div class="ibox-content" style="padding-bottom: 15px;">
	                            <div class="row">
	                                <div class="col-md-12">
	                                    <h2 class="font-bold m-b-xs">
	                                        Order Checkout
	                                    </h2>
	                                    <small>Please complete all necessary details below.</small>
	                                    <hr>
	                                    	<div class="row">
			                      				<%= render 'delivery_address', user_address: @user_address, user: @user %>
			                      				<div class="col-lg-6">
													<h4>Delivery Notes</h4>
													<%= f.text_area :delivery_notes, class: "form-control", placeholder: "eg: I dont want spicy, and please be quick! gutom na!", style: "resize: none;" %>
												</div>
			                      			</div>
	                                    <hr>
	                                    <h4>Payment Methods</h4>
	                                    <div class="row">
	                                    	<div class="col-lg-6">
			                                    <div class="ibox">
							                        <div class="ibox-content" style="border: 0; padding: 0;">
							                        	<div class="panel-group payments-method" id="accordion">
							                        		<% @payment_type.each do |ptype| %>
								                            	<% if ptype.id == 1 %>
									                                <div class="panel panel-default">
									                                    <div class="panel-heading">
									                                        <div class="pull-right">
									                                            <i class="fa fa-money text-success"></i>
									                                        </div>
									                                        <h5 class="panel-title">
								                                            	<div class="radio radio-warning radio-inline">
								                                            		<%= f.radio_button :payment_type_id, ptype.id, checked: true, aria: { expanded: true }, data: { toggle: "collapse", parent: "#accordion", target: "#collapseOne" } %> 
	  																				<%= f.label :payment_type_id_1, "Cash on Delivery" %>
										                                        </div>
									                                        </h5>
									                                    </div>
									                                    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
									                                    	<div class="panel-body">
									                                            <div class="row">
									                                                <div class="col-md-10">
									                                                    <h2>Cash on Delivery</h2>
									                                                    <p class="m-t">
									                                                    	Pay through Cash upon receiving your order.
									                                                    </p>
									                                                </div>
									                                            </div>
									                                        </div>
									                                    </div>
									                                </div>
								                                <% else %>
									                                <div class="panel panel-default">
									                                    <div class="panel-heading">
									                                        <div class="pull-right">
									                                            <i class="fa fa-cc-paypal text-success"></i>
									                                            <i class="fa fa-cc-mastercard text-warning"></i>
									                                            <i class="fa fa-cc-visa text-danger"></i>
									                                        </div>
									                                        <h5 class="panel-title">
								                                            	<div class="radio radio-warning radio-inline">
										                                            <%= f.radio_button :payment_type_id, ptype.id, checked: false, aria: { expanded: false }, data: { toggle: "collapse", parent: "#accordion", target: "#collapseTwo" }, class: "collapsed" %> 
	  																				<%= f.label :payment_type_id_2, "Credit Card" %>
										                                        </div>
									                                        </h5>
									                                    </div>
									                                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
									                                        <div class="panel-body">
									                                            <div class="row">
									                                                <div class="col-md-12">
									                                                	<small><strong>Note:</strong><cite> You can pay safely online through Paypal even you dont have an account.</cite></small>
									                                                </div>
									                                            </div>
									                                        </div>
									                                    </div>
									                                </div>
								                                <% end %>
							                            	<% end %>
							                            </div>
													</div>
							                    </div>
							            	</div>
							            	<div class="col-lg-6">
							            
								            
							          
	                                    		<ul class="list-group clear-list">
	                                    			<li class="list-group-item fist-item">
		                                                <span class="pull-right"> ₱ <%= number_with_precision(@order.subtotal, :precision => 2, :delimiter => ',') %> </span>
		                                                Subtotal
		                                            </li>
		                                            <li class="list-group-item">
		                                                <span class="pull-right"> ₱ <%= number_with_precision(@order.delivery_charge, :precision => 2, :delimiter => ',') %> </span>
		                                                Service Fee
		                                            </li>
		                                            <li class="list-group-item">
		                                                <span class="pull-right"><h3> ₱ <%= number_with_precision(@order.total, :precision => 2, :delimiter => ',') %></h3>  </span>
		                                                <h4>Total</h4>
		                                            </li>
	                                    		</ul>
	                                    		<%= f.submit "Place My Order", id: "submit-order", class: "btn btn-primary btn-lg pull-right alert-success", controller: 'orders', action: 'update' %>
	                                    	</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    <% end %>
                        <div class="ibox-footer">
                            <span class="pull-right">
                                Current Local Time - <i class="fa fa-clock-o"></i> <%= Time.now.strftime("%d-%b-%Y %l:%M%P") %>
                            </span>
                            The generated Lorem Ipsum is therefore always free
                        </div>
                    </div>
                </div>
            </div>
        	</div>
        </div>
    </div>
</section>
<script type="text/javascript">
	

    $(document).ready(function () {

        $('#submit-order').click(function(){
            swal({
                title: "Thank you!",
                text: "Your order is now confirmed.",
                type: "success"
            }, function() {
            	window.location.href = "/";
        	});
        });

    });


</script>
