<div id="restaurant_show_details">
    <div class='row' style="margin-top: 25px;">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>

                <input id="user-location" autocomplete="off" type="" value="<%= @user_address ? @user_address.full_address : '' %>" placeholder="Where's your location?" class="form-control" name="">
                    <div class="input-group-btn">
                        <% if @resto_rate.present? %>
                            <%= link_to 'Pakals na!', restaurant_path(@restaurant), id: "btn-pakals", class: "btn btn-primary" %>
                        <% else %>
                            <button type="button" class="btn btn-default" disabled="true">Gutom na!
                            </button>
                        <% end %>
                    </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <% if @resto_rate.present? %>
    	<div class="col-lg-12">
    		<div class="row">
    			<div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Store Status </span>
                                <h2 class="font-bold">Open</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Minimum Order </span>
                                <h2 class="font-bold">₱ <%= number_with_precision(@resto_rate.min_order, :precision => 0, :delimiter => ',') %></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-motorcycle fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Delivery Time </span>
                                <h2 class="font-bold"><%= @resto_rate.eta_delivery %></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-street-view fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Your distance </span>
                                <h2 class="font-bold"><%= number_with_precision(@distance, :precision => 2, :delimiter => ',') %>km</h2>
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
        <% end %>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#user-location").geocomplete({     
            details: ".field",
            types: ["geocode", "establishment"],
            componentRestrictions: {country: "ph"}
        });

        $("#user-location").bind("geocode:result", function(event, result){
            AsaKaDong();
        });

        function AsaKaDong() { // more accurate than google.map.geocoder
            var map, service, bounds;
            
                map = new google.maps.Map(
                document.getElementById("gmap"), {});
                var request = {
                    query: document.getElementById("user-location").value
                }               
                service = new google.maps.places.PlacesService(map);
                bounds = new google.maps.LatLngBounds();
                service.textSearch(request, callback);
            
            function callback(results, status) {
              if (status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                  var place = results[i];           
                }
                var lat = place.geometry.location.lat();
                var lng = place.geometry.location.lng();
                var add = document.getElementById("user-location").value        

                $.ajax({
                    url: '/set_user_location',
                    data: {lat: JSON.stringify(lat),lng: JSON.stringify(lng),add: JSON.stringify(add)},
                    type: 'GET'
                })
              }
            }
        }

    });
</script>
