<%= display_meta_tags %>
<section class="container">
    <div class="space-70"></div>
    <div class="row">
        <div class="col-xs-12" id="resto_banner">
        	<div class="wrapper wrapper-content animated fadeInUp" style="padding: 0;">
                <div class="row m-b-lg m-t-lg" style="margin: 0 5px 10px 0;">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <i class="fa fa-map-marker"></i> 
                            <%= @user_address ? @user_address.full_address : '' %>
                            <%= link_to 'Change My Location', change_user_location_restaurant_path(@restaurant), class: "btn btn-w-m btn-default btn-xs pull-right", style: "margin-bottom: 5px;" %>
                        </div>
                    </div>
                    <div class="col-md-7" stylex="padding: 0;">
                        <div class="row">
                            <div class="col-md-1 resto-image">
                                <div>
                                    <%= image_tag @restaurant.profile_image.url(:web) || asset_path('default_menu.png'), style: "width: 120px; height: 120px;", class: "img-circle circle-border m-b-md" %>
                                </div>
                            </div> 
                            <div class="col-md-11">
                                <div class="profile-info">
                                    <div class="">
                                        <div>
                                            <span class="label label-primary pull-right">Open</span>
                                            <h2 class="no-margins">
                                                <%= @restaurant.name %>
                                            </h2>
                                                <div class="fb-share-button pull-right" 
                                                    data-href="<% request.url %>" 
                                                    data-layout="button_count">
                                                </div>
                                            <h4 style="margin-bottom: 8px;"><%= @restaurant.address %></h4>
                                            <div style="margin-bottom: 10px;">
                                                <small><strong>Tel. No:</strong> <%= @restaurant.phone %></small>
                                            </div>
                                            <small>
                                                <%= @restaurant.description %>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <table class="table small m-b-xs">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong><%= number_with_precision(@user_address.distance_from_user, :precision => 1, :delimiter => ',') %>km</strong> Distance from you
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>₱ <%= @resto_rate.min_order %></strong> Min Order
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-xs-4 text-center">
                                <i class="fa fa-star fa-5x" style="color: #f8ac59;"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Overall Rating </span>
                                <h2 class="font-bold" style="margin-bottom: 0;"> <%= number_with_precision(@resto_stars || 1, :precision => 1, :delimiter => ',') %> <small style="font-size: 11px;">/ 5</small> </h2>
                                <small style="font-size: 11px; color: #676a6c;"> <%= @voters_count %> votes </small>
                            </div>
                        </div>
                        <%= rating_for @restaurant, "resto_rate", enable_half: true, disable_after_rate: false %>
                    </div>
                </div>
        	</div>
        </div>
        <div class="col-xs-8 resto-menus" style="padding: 0;">
        	<div class="wrapper-content">
        	    <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                        	<a data-toggle="tab" href="#tab-3" aria-expanded="true"> 
                        		<i class="fa fa-cutlery"></i>
                        		Menus
                        	</a>
                        </li>
                        <li class="">
                        	<a data-toggle="tab" href="#tab-4" aria-expanded="false">
                        		<i class="fa fa-comments"></i>
                        		Reviews
                        	</a>
                        </li>
                        <li class="">
                        	<a data-toggle="tab" href="#tab-5" aria-expanded="false">
                        		<i class="fa fa-image"></i>
                        		Photos
                        	</a>
                        </li>
                        <li class="">
                        	<a data-toggle="tab" href="#tab-6" aria-expanded="false">
                        		<i class="fa fa-map-marker"></i>
                        		Location
                        	</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-3" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                	<div class="col-md-3 menu-cats">
                                		<div class="ibox" id="sk-cats" data-spy="affix" data-offset-top="280" data-clampedwidth=".col-xs-3">
					                        <div class="ibox-title" style="border-style: none;">
					                            <h5>Categories</h5>
					                        </div>
					                        <div style="width: 150px;">
    				                        	<% @menu_cats.each do |menu_cat| %>
  													<a href="#cat<%= menu_cat.id %>" style="padding: 10px 0 10px 10px;">
  														<p class="text-muted">
  															<%= menu_cat.name %>
  														</p>
  													</a>
    				                        	<% end %>
					                        </div>
					                    </div>
                                	</div>
                                	<div class="col-md-9" style="padding: 0;">
                                		<div class="ibox collapsed border-bottom" id="sk-menus">
                                			<% @menu_cats.each do |menu_cat| %>
                                				<div id="cat<%= menu_cat.id %>">
		                                			<div class="ibox-title" style="border-style: none; padding-left: 8px;">
								                        <h5><%= menu_cat.name %></h5>
								                    </div>
                                                    <%= render 'menus/menus', menu_cat: menu_cat, order_item: @order_item  %>
		                        				</div>
                        					<% end %>
                                		</div>
                                	</div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <div class="fb-comments" data-href="<%= request.url %>" data-width="100%" data-numposts="10">
                                </div>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">
                                <strong>Image Gallery</strong>
                                <p>Discoverer the photos we had shared to our happy customers.</p>
                                <% if @restaurant.restaurant_images.any? %>
                                    <div class="lightBoxGallery">
                                            <% @restaurant.restaurant_images.each do |image| %>
                                                <a href="<%= image_path image.image.url(:web) %>" title="Image from Unsplash" data-gallery="">
                                                    <%= image_tag image.image.url(:web), style: "width: 100px; height: 100px;" %>
                                                </a>
                                            <% end %>
                                        <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                            <div class="slides" style="width: 96552px;"></div>
                                            <h3 class="title">GG</h3>
                                            <a class="prev">‹</a>
                                            <a class="next">›</a>
                                            <a class="close">×</a>
                                            <a class="play-pause"></a>
                                            <ol class="indicator"></ol>
                                        </div>
                                    </div>
                                <% else %>
                                    <div class="col-lg-12" style="min-height: 250px; margin-top: 50px;">
                                        <p class="text-center">
                                            <i class="fa fa-image big-icon"></i>
                                        </p>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div id="tab-6" class="tab-pane">
                            <div class="panel-body">
                                <strong>Come and Visit Us!</strong>
                                <p><%= @restaurant.address %></p>
                                <div id="g-spot" style="height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-summary">
            <div class="col-xs-4" style="padding-left: 0;" id="order-holder">
            	<div class="wrapper-content" style="padding-bottom: 0;">
    	        	<div class="ibox" id="sk-orders">
    	                <div class="ibox-title">
    	                    <h5>Cart Summary</h5>
    	                </div>
    	                <div class="ibox-content" id="orders" style="padding-bottom: 2px; min-height: 80px;">
                            <%= render 'orders/orders', order: current_order %>
    	                </div>
    	                <div class="ibox-footer textContainer text-center">
    	                	<h3 class="text-center"><i class="fa fa-phone"></i> +63 297 3254</h3>
    	                    <span class="small" style="text-align: center;">
    	                        Need support? Call us anytime. We are avalible 24/7 ☺
    	                    </span>
    	                </div>
    	            </div>
    	        </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function(){
        $('.add-sk').on('click', function(){
            $('#sk-orders').children('.ibox-content').addClass('sk-loading');
        })
    })
</script>
<script type="text/javascript">
    $(document).on("turbolinks:load", function () { 
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            alert("x");
            var elem = $(this);
            var parentPanel = elem.data('clampedwidth');
            var resizeFn = function () {
                var sideBarNavWidth = $(parentPanel).width() - parseInt(elem.css('paddingLeft')) - parseInt(elem.css('paddingRight')) - parseInt(elem.css('marginLeft')) - parseInt(elem.css('marginRight')) - parseInt(elem.css('borderLeftWidth')) - parseInt(elem.css('borderRightWidth'));
                elem.css('width', sideBarNavWidth);
            };
            alert(resizeFn);
            resizeFn();
            $(window).resize(resizeFn);
        });
            
    });

    $('#sk-orders').affix({
      offset: {
        top: 235
      }
    });

    $('#sk-cats').affix({
      offset: {
        top: 235
      }
    });

    $(window).scroll(function () {
        $('.ibox.affix').width($('#order-holder').width());
    });
</script>
<script type="text/javascript">
     
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href")
      if (target == '#tab-6') {
          var map;
          var myLatlng = new google.maps.LatLng(7.065547, 125.608295); // DAVAO CITY HALL AS DEFAULT LOCATION
          var myOptions = {
            zoom: 14,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.HYBRID
          }
          map = new google.maps.Map(document.getElementById("g-spot"), myOptions);

            var vlat = <%= @restaurant.latitude %>
            var vlng = <%= @restaurant.longitude %>

            if (vlat != '') {
                var myLatLng = {lat: vlat, lng: vlng};

                var map = new google.maps.Map(document.getElementById('g-spot'), {
                    zoom: 14,
                    center: myLatLng,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                });

                var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map,
                  title: 'Nia ko diri!'
                });
            }
        }
    });
</script>
<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false %>