<section class="container">
    <div class="space-70"></div>
    <div class="row">
        <div class="col-xs-12" id="resto_banner">
        	<div class="wrapper wrapper-content animated fadeInUp" style="padding: 0 10px 0 10px;">
        		<div class="ibox" style="margin-bottom: 0;">
        			<div class="ibox-content productImage" style="padding: 0; height: auto; background-image: url('<%= image_path 'food_table.jpg' %>'); background-repeat: no-repeat; background-size: cover; ">
        				<div style="background-color: rgba(25,25,25,.5); height: auto; width: 100%; padding: 0; margin: 0;">
        					<div class="container text-center" style="padding: 30px 10px 30px 10px; width: 100%;">
        						<div class="profile-image">
			                        <%= image_tag @restaurant.profile_image.url(:web), class: "img-circle circle-border m-b-md", style: "width: 150px; height: 150px; margin-bottom: 10px;" %>
			                    </div>
			                    <h1 class="margin-b-10 text-warning"><%= @restaurant.name %></h1>
	        					<p class="lead " style="color: #fff; margin-bottom: 3px;">Give us your delivery location to get started.</p>
	        					<small class="text-muted">(Minimum order varies the distance between your location and restaurant.)</small>
	        					
					 
					            	<%= render 'restaurant_show_details' %>
		        			

	        				</div>
        				</div>
        			</div>
        			<div class="ibox-footer">
        				<div class="row">
        					<div class="col-lg-4">
        						<strong>Resto Address: </strong><%= @restaurant.address %> | 
        						<strong>Tel. No.: </strong><%= @restaurant.phone %> | 
        					</div>
        				</div>
                        
                    </div>
        		</div>
        	</div>
        </div>
    </div> 
    <div id="gmap" style="display: none;"></div>	
</section>
