<% content_for :dashboard do %>
  <div id="right_menu">Right menu items here</div>
  <%= content_for?(:current_order_dashboard) ? yield(:current_order_dashboard) : yield %>
<% end %>
<%= render template: "restos/restaurants/dashboard" %>

<div id="page-wrapper" class="gray-bg">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
	        <h2 style="margin-top: 20px;">Current Orders</h2>
	    </div>
	</div>
		<div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
        	<div class="col-lg-12">
        		<div class="ibox">
        			<div class="ibox-content">

        				<table class="footable table table-stripped toggle-arrow-tiny footable-loaded phone breakpoint footable-filtering" data-paging="true" data-filtering="true" data-sorting="true" data-filter-filters='true'>
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Address</th>
                                    <th>Price</th>
                                    <th>Order Time</th>
                                    <th data-breakpoints="all" data-sortable="false" data-filterable="false"></th>
                                    <th data-sortable="false" data-filterable="false"></th>
                                </tr>
                            </thead>
                            <tbody>
                            	<% @cur_orders.each do |order| %>
                            		<tr class="footable">
                            			<td class="footable-visible">
                            				<strong><%= order.id %> </strong>
                            			</td>
                            			<td class="footable-visible">
                            				<%= order.user.user_addresses.last.full_address %>
                            			</td>
                            			<td class="footable-visible">
                            				₱ <%= number_with_precision(order.total, :precision => 2, :delimiter => ',') %>
                            			</td>
                            			<td class="footable-visible">
                            				<%= time_ago_in_words(order.created_at) %> ago
                            			</td>
                            			<td>
                							<ul class="list-group clear-list">
                								<div class="jumbotron" style="padding: 20px">
                									<div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-12">
                                                            <small>Customer: <strong><%= order.user.fullname || order.user.identities.last.name %> </strong> </small>
                                                        </div>
                										<div class="col-md-2">
                											<small>Delivery Notes:</small>
                										</div>
                										<div class="col-md-10" style="text-align: left;">
                											<%= order.delivery_notes %>
                										</div>
                									</div>
                								</div>
                								<% order.order_items.each_with_index do |item, i| %>
	                								<li class="list-group-item" style="<%= i == 0 ? 'border-top: none;' : '' %>">
		                                                <div class="row">
		                                                	<div class="col-md-1">
		                                                		<%= i + 1 %> 
		                                                	</div>
		                                                	<div class="col-md-5">
		                                                		<strong><%= item.menu.name %></strong>
		                                                	</div>
		                                                	<div class="col-md-2">
		                                                		<%= item.quantity %>
		                                                	</div>
		                                                	<div class="col-md-2">
		                                                		<%= number_with_precision(item.unit_price, :precision => 0, :delimiter => ',') %> 
		                                                	</div>
		                                                	<div class="col-md-2 pull-right">
		                                                		<strong>₱ <%= number_with_precision(item.total_price, :precision => 2, :delimiter => ',') %></strong>
		                                                	</div>
		                                                </div>
		                                            </li>
		                                        <% end %>
                							</ul>
                            			</td>
                            			<td class="text-right footable-visible footable-last-column" style="margin-right: 20px;">
	                                        <div class="btn-group">
                                                <%= link_to 'Ready', restos_order_ready_path(order), class: "btn btn-sm btn-warning" %>
				                                <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" aria-expanded="true">Others <span class="caret"></span></button>
				                                <ul class="dropdown-menu">
					                                <li><a href="#" style="font-size: 12px;">Action</a></li>
					                                <li><a href="#" style="font-size: 12px;">Another action</a></li>
					                                <li><a href="#" style="font-size: 12px;">Something else here</a></li>
					                                <li class="divider"></li>
					                                <li><a href="#" style="font-size: 12px;">Separated link</a></li>
					                            </ul>
				                            </div>
	                                    </td>
                            		</tr>
                            	<% end %>
                            </tbody>
                
        				</table>
        			</div>
        		</div>
        	</div>
        </div>
	</div>
</div>
<script type="text/javascript">
    jQuery(function($){
    $('.footable').footable({
        "paging": {
            "size": 15
        }
    });
});
</script>