<% content_for :dashboard do %>
  <div id="right_menu">Right menu items here</div>
  <%= content_for?(:all_resto_dashboard) ? yield(:all_resto_dashboard) : yield %>
<% end %>
<%= render template: "restos/restaurants/dashboard" %>

<div id="page-wrapper" class="gray-bg">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
	        <h2 style="margin-top: 20px;">All Menus</h2>
	        <ol class="breadcrumb">
	            <li>
                    <%= link_to "Dashboard", restos_restodb_path %>
	            </li>
	            <li class="active">
	                <strong>All Resto Menus</strong>
	            </li>
	        </ol>
	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
        	<div class="col-lg-12">
        		<div class="ibox">
        			<div class="ibox-content">
        				<table class="footable table table-stripped toggle-arrow-tiny footable-loaded phone breakpoint footable-filtering" data-paging="true" data-filtering="true" data-sorting="true" data-filter-filters='true'>
        					<%= link_to 'Add New Menu', new_restos_restaurant_menu_path, class: "btn btn-warning btn-sm" %>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Selling Price</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th data-sortable="false" data-filterable="false">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<% @menus.each do |menu| %>
                            		<tr>
                            			<td class="footable-visible">
                            				<strong><%= menu.name %></strong>
                            			</td>
                            			<td class="footable-visible">
                            				₱ <%= number_with_precision(menu.price, :precision => 2, :delimiter => ',') %>
                            			</td>
                            			<td class="footable-visible">
                                            ₱ <%= number_with_precision(menu.total_price, :precision => 2, :delimiter => ',') %>
                            			</td>
                            			<td class="footable-visible">
                            				<p><%= menu.menu_category.name %></p>
                            			</td>
                            			<td class="footable-visible">

                            				<span class="<%= menu.active ? 'label label-primary' : 'label label-danger' %>  label label-primary">
                                                <%= menu.active ? 'Active' : 'Inactive'%>
                                            </span>
                            			</td>
                            			<td class="text-right footable-visible footable-last-column">
	                                        <div class="btn-group">
                                                <%= link_to 'Edit', edit_restos_restaurant_menu_path(@restaurant,menu), class: 'btn btn-sm btn-default', type: "button" %>
	                                        </div>
	                                    </td>
                            		</tr>
                            	<% end %>
                            </tbody>
        				</table>
        			</div>
        		</div>
        	</div>
        </div>
	</div>
</div>
<script type="text/javascript">
    jQuery(function($){
    $('.footable').footable({
        "paging": {
            "size": 15
        }
    });
});
</script>