<div class="pace  pace-inactive">
	<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
	  	<div class="pace-progress-inner"></div>
		</div>
	<div class="pace-activity"></div>
</div>
<div id="wrapper">
	<nav class="navbar-default-style navbar-static-side" role="navigation" style="height: 100%; position: fixed;">
		<div class="sidebar-collapse" style="height: 100%;">
			<ul class="nav metismenu" id="side-menu" style="height: 100%;">
				<li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= current_admin.fullname %></strong>
                             </span> <span class="text-muted text-xs block">User Settings <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <%= link_to 'Home', root_path %>
                            </li>
                            <li><a href="profile.html">Profile</a></li>
                            <li class="divider"></li>
                            <li>
                            	<%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                  
                    </div>
                </li>
                <li>
                    <%= link_to admins_dashboard_index_path do %>
                        <i class="fa fa-diamond"></i> 
                        Dashboard
                    <% end %>
                </li>
                <li class="landing_link">
                    <%= link_to admins_current_orders_path, style: "background: #1cc09f; color: white;" do %>
                        <i class="fa fa-star"></i> 
                        <span class="nav-label">Current Orders</span> 
                        <span class="label label-warning pull-right"><%= admins_current_orders.count %></span>
                    <% end %>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Orders</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="index.html">All Orders</a></li>
                        <li><a href="index.html">New Order</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Menus</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="index.html">My Menus</a></li>
                        <li><a href="dashboard_2.html">Add New Menu</a></li>
                        <li><a href="dashboard_2.html">Menu Categories</a></li>
                    </ul>
                </li>
            	<li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Restaurants</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                        	<%= link_to 'All Restaurants', admins_restaurants_path %>
                        </li>
                        <li>
                        	<%= link_to 'Add New Restaurant', new_admins_restaurant_path %>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Resto Users</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <%= link_to 'All Resto Users', admins_restos_path %>
                        </li>
                        <li>
                            <%= link_to 'Add New Resto User', new_resto_registration_path %>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Site Users</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <%= link_to 'All Site Users', admins_users_path %>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Drivers</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <%= link_to 'All Site Users', admins_users_path %>
                        </li>
                    </ul>
                </li>
			</ul>
		</div>
	</nav>
</div>

	<div id="content"><%= content_for?(:dashboard) ? yield(:dashboard) : yield %></div>

<script type="text/javascript">
	$(function () {
	    $('#side-menu').metisMenu();
	});
</script>