<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<%= favicon_link_tag 'browser-logo.png' %>

    <title>habhub.ph</title>

    <%= csrf_meta_tags %>

    <meta property="fb:app_id" 		content="1750726818531501"/>
    <meta property="og:title" 		content="habhub na!"/>
    <meta property="og:url" 		content="https://hh2.herokuapp.com"/>
    <meta property="og:description" content="The one stop site for food delivery within Davao City"/>
    <meta property="og:image" 		content="https://hh2.herokuapp.com/assets/habhub.png"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdwDvT6t-YSMvflvkPYEfPo4N-g-FPDEY&libraries=places" type="text/javascript"></script>
    <script> //Google ANalytics for site and user tracking
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-100566818-1', 'auto');
	  ga('send', 'pageview');
	</script>

  </head>

  <body data-spy="scroll" data-target=".menu-cat" data-offset="50">
		<div id="fb-root" data-turbolinks-permanent></div>

	 <div style="min-height: 100%;">
	  	<div style="overflow: auto;">
	  		
		  	<% if ["Admins","Restos"].exclude? controller.class.name.split("::").first %>
		  		<% if current_page?(root_path) %>
		  			<header class="top-header navbar navbar-default header-transparent navbar-fixed-top yamm shirnk" style="padding-top: 0;">
		  		<% else %>
		  			<header class="navbar-default-white">
		  		<% end %>
		  			<div class="container">
		  				<div class="navbar-header cart-orders" style="float: right; width: 40px; height: 50px; margin-right: 10px;">
		  					<div id="current_orders">
		  						<% unless current_page?(checkout_path) %>
			                		<%= render 'restaurant_types/current_orders', orders: current_order %>
			                	<% end %>
			                </div>
			      		</div>
					  	<div class="navbar-header" style="margin-left: 0; min-height: 50px;">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>
				        
				            <%= link_to '', root_path, class: "navbar-brand", style: "padding-left: 0;" %> 
				        </div>
				        <div id="navbar" style="padding: 0; margin: 0; border: 0;" class="navbar-collapse collapse">
				        	<ul class="nav navbar-nav navbar-right" style="padding-right: 15px;">
				        		<% RestaurantType.all.each do |resto_type| %>
	                                <li><%= link_to resto_type.RType, restaurant_type_path(resto_type), style: "font-size: 12px;" %></li>
	                            <% end %>
				        		<% if user_signed_in? %>
					        		<li>
				        				<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
				                            My Account<b class="caret"></b>
			                            </a>
			                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
				                            <li>
				                            	<%= link_to edit_user_registration_path, style: "font-size: 12px;" do %>
				                            		<i class="fa fa-user" aria-hidden="true" style="margin-right: 8px;"></i> Profile
				                            	<% end %>
				                            </li>
				                            <li><a href="contacts.html" style="font-size: 12px;"><i class="fa fa-shopping-basket" aria-hidden="true" style="margin-right: 8px;"></i> My Orders</a></li>
				                            <li class="divider"></li>
				                            <li><%= link_to destroy_user_session_path, :method => :delete, style: "font-size: 12px;" do %><i class="fa fa-mail-forward" aria-hidden="true" style="margin-right: 8px;"></i> Logout<% end %></li>
				                        </ul>					        		
					        		</li>
					        	<% else %>
					        		<li>
					        			<%= link_to 'Login', new_user_session_path %>
					        		</li>
					        	<% end %>
				        	</ul>
				        </div>  
				        
			  		</div>
		  			</header>
			<% end %>
		    <%= yield %>
    	</div>
     </div>

  	<% if ["Admins","Restos"].exclude? controller.class.name.split("::").first %>
  	
		    <div class="footer">
		    	<div class="container">
		    		<div class="footer-wrapper wrapper-content" style="padding-bottom: 0;">
			    		<div class="row">

			    			<div class="col-lg-7 pull-right footer-links" style="color: #777; margin: 0;">		      
				                <%= link_to 'About Us', about_us_path, class: "text-primary footer-links", style: "margin-right: 10px;" %>
				                <span>|</span>
				                <%= link_to 'Suggest Restaurant', new_suggest_resto_path, class: "text-primary footer-links" %>
				                <span>|</span>
				                <%= link_to 'FAQ', faq_path, class: "text-primary footer-links" %>
				                <span>|</span>
				                <a href="#" class="text-primary footer-links">
				                	Terms and Conditions
				                </a>
				                <span>|</span>
					                <%= link_to 'Timeline', timeline_path, class: "text-primary footer-links" %>
				                <span>|</span>
				                <a href="#" class="text-primary footer-links">
				                	Contact Us
				                </a>
				            </div>

				            
				            
				            <div class="col-lg-3 footer-company" style="font-weight: 600; color: #676a6c;">
				                Copyright <strong><%= link_to 'habhub.ph', root_path, style: "color: #099E44;" %></strong> © 2017
				                
				                <br>
				                <small style="font-weight: 100;">GG Tech. All Rights Reserved</small>
				            </div>

				            <div class="col-lg-2 footer-social">
				            	<a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
				            	<a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
				            	<a class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a>
				            </div>

				        </div>
		            </div>
		        </div>
		    </div>	
	<% end %>
	<div id="modal-shows"></div><!-- For modal shows, partial rendering -->
  </body>
</html>
