<!DOCTYPE html>
<html>
  <head>
    <title>Gg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300" rel="stylesheet" type="text/css">
  </head>

  <body>
  	<% if !(controller.class.name.split("::").first=="Admins") %>
  		<% if current_page?(root_path) %>
  			<header class="top-header navbar navbar-default header-transparent navbar-fixed-top yamm shirnk">
  		<% else %>
  			<header class="navbar-default-white">
  		<% end %>
  			<div class="container">
			  	<div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="index.html">Logo</a>
		        </div>
			        <div id="navbar" class="navbar-collapse collapse">
			        	<ul class="nav navbar-nav navbar-right">
			        		<li>
			        			<a href="#home">All Restaurants</a>
			        		</li>
			        		<li>
			        			<a href="#home">Most Selling</a>
			        		</li>
				        		<% if user_signed_in? %>
					        		<li>
					        			<a href="#home">My Account</a>
					        		</li>
					        	<% else %>
					        		<li>
					        			<%= link_to 'Login', new_user_session_path %>
					        		</li>
					        	<% end %>
			        	</ul>
			        </div>
		        
	  		</div>
  		</header>
	<% end %>
    <%= yield %>
  </body>
</html>
