<!DOCTYPE html>
<html>
  <head>
    <title>habhub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300" rel="stylesheet" type="text/css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdwDvT6t-YSMvflvkPYEfPo4N-g-FPDEY&libraries=places" type="text/javascript"></script>
  </head>

  <body data-spy="scroll" data-target=".menu-cat" data-offset="50">

  	<% if ["Admins","Restos"].exclude? controller.class.name.split("::").first %>
  		<% if current_page?(root_path) %>
  			<header class="top-header navbar navbar-default header-transparent navbar-fixed-top yamm shirnk">
  		<% else %>
  			<header class="navbar-default-white">
  		<% end %>
  			<div class="container">
			  	<div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <%= link_to 'Home', root_path, class: "navbar-brand" %>
		        </div>
			        <div id="navbar" class="navbar-collapse collapse">
			        	<ul class="nav navbar-nav navbar-right">
			        		<li>
			        			<%= link_to 'All Restaurants', restaurants_path %>
			        		</li>
			        		<li>
			        			<a href="#home">Most Selling</a>
			        		</li>
				        		<% if user_signed_in? %>
					        		<li>
				        				<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
				                            My Account<b class="caret"></b>
			                            </a>
			                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
				                            <li><a href="profile.html" style="font-size: 12px;">Profile</a></li>
				                            <li><a href="contacts.html" style="font-size: 12px;">My Orders</a></li>
				                            <li><a href="mailbox.html" style="font-size: 12px;">Delivery Address</a></li>
				                            <li class="divider"></li>
				                            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, style: "font-size: 12px;") %>  </li>
				                        </ul>					        		
					        		</li>
					        	<% else %>
					        		<li>
					        			<%= link_to 'Login', new_user_session_path %>
					        		</li>
					        	<% end %>
			        	</ul>
			        </div>
		        
	  		</div>
  		</header>
	<% end %>
    <%= yield %>
    <div id="modal-shows"></div><!-- For modal shows, partial rendering -->
  </body>
</html>
